[Unit]
Description=bot service
After=network.target

[Service]
User=root
WorkingDirectory=/home/bots/trade_crypto
ExecStart=/usr/bin/python3 /home/bots/trade_crypto/main.py
Restart=always

[Install]
WantedBy=multi-user.target